.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-muted {
  background-color: var(--muted);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-light-gray {
  background-color: var(--light-gray);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-light {
  background-color: var(--light);
}
.bg-success {
  background-color: var(--success);
}
.bg-warning {
  background-color: var(--warning);
}
.bg-danger {
  background-color: var(--danger);
}
