.tip {
  position: relative;
  &:hover {
    &::before {
      content: attr(aria-label);
      position: absolute;
      bottom: calc(100% + 9px);
      left: 50%;
      width: max-content;
      max-width: 12rem;
      color: var(--muted);
      background-color: var(--foreground);
      font-size: 0.7rem;
      line-height: var(--text-xs--line-height);
      font-weight: 400;
      border-radius: calc(var(--radius) - 3px);
      padding: calc(var(--spacing)) calc(var(--spacing) * 2);
      pointer-events: none;
      transform: translateX(-50%);
      z-index: 1033;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: calc(100% + 6px);
      left: 50%;
      width: 0.4rem;
      height: 0.4rem;
      background-color: var(--foreground);
      pointer-events: none;
      transform: translateX(-50%) rotate(45deg);
      z-index: 1033;
    }
  }
}
